<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.burger42">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/iconneu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconneu"
        android:screenOrientation="sensorLandscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.Burger42">


        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
